body {
  font-size: 1rem;
  font-family: Raleway, Helvetica Neue, Helvetica, sans-serif;
  color: #111;
}

.visible-xs {
  display: block;
}

/* header styles */

.page-header {
  background: #fff;
  border-bottom: 1px solid #c6c6c6;
}

.page-header-logo {
  display: block;
  margin: 1rem auto;
}


/* header styles end */


/* page heading */

.product-header {
  padding: 0 .5rem;
}

.product-header-text {
  margin: 1rem 0;
  font-family: Lora, serif;
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #171717;
}


/* page heading end */


/* product slider */

.product-slider {
  display: flex;
  overflow-x: scroll;
  margin: 0 -.5rem;
}

.product-slider-img {
  display: block;
  width: 100%;
  height: 100%;
}


/* product slider end */


/* product-info */

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 .5rem;
}

.product-info-price {
  margin: 1rem 0;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 400;
}

.product-info-code {
  margin: 1rem 0;
  font-size: .75rem;
  line-height: 0.875rem;
}


/* product-info end */


/* product-color */

.product-color {
  padding: 0 .5rem;
}

.product-color-text {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: .75rem;
  line-height: 0.9375rem;
}

.product-color-toggler {
  display: flex;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #c6c6c6;
}

.product-color-toggler-btn {
  box-sizing: border-box;
  display: block;
  padding: 1.25rem;
  margin-right: 1rem;
  border: 0;
  border-radius: 50%;
  font-size: 0;
  line-height: 0;
  cursor: pointer;
}

.product-color-toggler-btn-active {
  padding: 1.1875rem;
  border: 1px solid #232122;
}

.color-togl-black {
  background: #232122;
}

.color-togl-honey {
  background: #cfa880;
}


/* product-color end */


/* product-buttons */

.product-buttons {
  display: flex;
  flex-direction: column;
  padding: 0 .5rem;
  border-bottom: 1px solid #c6c6c6;
}

.product-buttons-btn {
  /* if height not set manually, button 
  never gets 48px height (47.6 || 48.4) */
  height: 	3rem;

  display: block;
  padding: 1rem 0;
  border: 1px solid #171717;
  border-radius: 2px;
  font-family: Raleway, Helvetica Neue, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: .75rem;
  font-weight: 400;
  line-height: 1rem;
}

.product-buttons-btn-black {
  margin-bottom: 1rem;
  color: #fff;
  background-color: #171717;
}

.product-buttons-btn-white {
  margin-bottom: 1.5rem;
  color: #171717;
  background-color: #fff;
}

.product-buttons-btn-text {
  display: block;
  padding: 0;
  margin-bottom: 3rem;
  border: 0;
  font-family: Raleway, Helvetica Neue, Helvetica, sans-serif;
  font-size: .75rem;
  line-height: 1rem;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  background: none;
  color: #171717;
  cursor: pointer;
}


/* product-buttons end */


/* product accordion */

.accordion-row {
  padding: 0 .5rem;
  border-bottom: 1px solid #c6c6c6;
}

.accordion-row-head-btn {
  display: block;
  width: 100%;
  padding: 0;
  border: 0;
  font-family: Raleway, Helvetica Neue, Helvetica, sans-serif;
  text-transform: uppercase;
  text-align: left;
  line-height: 1.1875rem;
  background-color: #fff;
}

.accordion-row-head-text {
  position: relative;
  margin: 2rem 0;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25rem;
}

.accordion-row-head-text::after {
  content: "";
  display: block;
  width: 0.625rem;
  height: 1.1875rem;
  position: absolute;
  right: 0;
  top: 0;
  background-image: url(img/triangle.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.accordion-row-body {
  display: none;
  padding-bottom: 2rem;
}

.accordion-row-body p,
.accordion-row-body ul li {
  margin: 0;
  font-family: Lora, serif;
  font-size: .875rem;
  line-height: 1.5rem;
}

.accordion-row-body br {
  line-height: 1.5rem;
}

.accordion-row-body ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.accordion-row-open .accordion-row-body {
  display: block;
}

.accordion-row-open .accordion-row-head-text::after {
  transform: rotate(180deg);
}


/* product accordion end */


/* product recomendations */

.recomendations {
  padding: 0 .5rem;
}

.recomendations-heading {
  display: inline-block;
  padding-bottom: .5rem;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.1875rem;
  border-bottom: 1px solid #111;
  text-transform: uppercase;
}

.recomendations-blocks {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.recomendations-blocks-block {
  box-sizing: border-box;
  display: block;
  flex-basis: 50%;
  margin-bottom: 2rem;
  color: #171717;
  text-decoration: none;
}


.recomendations-blocks-block-img {
  display: block;
  width: 100%;
  height: 100%;
}

.recomendations-blocks-block-name {
  margin: .5rem 0;
  font-family: Lora, serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
}

.recomendations-blocks-block-price {
  margin: 0;
  font-size: .75rem;
  line-height: .875rem;
  font-weight: 400;
  color: #999;
}


/* product recomendations end */


/* product more-links */

.more-links {
  padding: 0 .5rem;
  margin-bottom: 4rem;
}

.more-links-heading {
  display: inline-block;
  padding-bottom: .5rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25rem;
  border-bottom: 1px solid #111;
  text-transform: uppercase;
}

.more-links-block {
  margin: 0;
  padding: 0;
  list-style: none;
}

.more-links-link {
  display: block;
  margin-bottom: 1rem;
  font-family: Lora, serif;
  font-size: .875rem;
  line-height: 1.0625rem;
  text-decoration: none;
  font-style: italic;
  color: #171717;
}


/* product more-links end */


/* page footer */

.page-footer {
  padding: 2rem .5rem;
  background: #f3f3f3;
}

.page-footer-nav {
  display: none;
}

.page-footer-shipping, .page-footer-lang {
  display: block;
  margin-bottom: 1rem;
  padding: 0;
  border: 0;
  font-family: Raleway, Helvetica Neue, Helvetica, sans-serif;
  font-size: .75rem;
  line-height: 1rem;
  background: none;
  color: #999999;
}

.page-footer-lang {
  margin-bottom: 1.5rem;
}

.page-footer-help {
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 700;
  color: #171717;
}

.page-footer-more {
  display: block;
  margin-bottom: 0;
  font-family: Lora, serif;
  text-align: center;
  font-size: .875rem;
  line-height: 1rem;
  font-style: italic;
  text-decoration: none;
  color: #171717;
}


/* page footer end */


@media screen and (min-width: 48rem) {

  .visible-xs {
    display: none;
  }

  .page-header-logo {
    margin: 1.5rem auto;
  }

  .product-header {
    padding: 0 .5rem;
  }

  .product-header-text {
    margin: 1.5rem 0;
    font-size: 1.5rem;
    line-height: 1.8125rem;
  }

  .product-info h2,
  .product-info p {
    margin-top: 0;
  }

  .product-slider {
    margin: 0;
  }

  .product-slider-img {
    width: 100%;
    height: 100%;
  }

  .recomendations,
  .product-header,
  .product-info,
  .product-color,
  .product-buttons,
  .accordion-row {
    padding-left: 0;
    padding-right: 0;
    border-bottom: 0;
  }

  .more-links,
  .page-footer-help,
  .page-footer-more {
    display: none;
  }

  .accordion-row-head {
    padding: 0;
  }

  .accordion-row-head-text {
    margin: 1.5rem 0 1rem;
  }

  .accordion-row-head-text::after {
    display: none;
  }

  .accordion-row-body {
    display: block;
    padding-bottom: 1.5rem;
  }

  .accordion-row-body-img img {
    display: block;
    width: 100%;
  }

  .accordion-row-body-delivery h2 {
    /* add height for pixel-perfect match
    line-height makes it 18.6px */
    height: 1.1875rem;

    margin: 0;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.1875rem;
  }

  .accordion-row-body-delivery h4 {
    margin: 0;
    margin-bottom: .25rem;
    font-size: .75rem;
    font-weight: 700;
    line-height: 0.875rem;
  }

  .accordion-row-body-delivery p {
    margin: 0;
    margin-bottom: 1.5rem;
    font-family: Raleway, Helvetica Neue, Helvetica, sans-serif;
    font-size: .75rem;
    line-height: 1rem;
  }

  .recomendations-heading {
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.1875rem;
  }

  .recomendations-blocks-block {
    margin-bottom: 4rem;
  }

  .recomendations-blocks-block-name {
    line-height: 1.2;
  }

  .page-footer {
    padding: 2rem 0;
  }

  .page-footer-nav {
    display: block;
    margin-bottom: 1rem;
  }

  .page-footer-nav-list h4 {
    margin: 0;
    margin-bottom: 1rem;
    font-size: .75rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: .875rem;
  }

  .page-footer-nav-list a {
    display: block;
    margin-bottom: .75rem;
    font-size: .75rem;
    font-weight: 500;
    line-height: 1rem;
    text-transform: capitalize;
    text-decoration: none;
    color: #999;
  }

  .page-footer-shipping,
  .page-footer-lang {
    display: inline-block;
    margin-right: 1.2rem;
    margin-bottom: 0;
    line-height: 1.5rem;
  }

}